/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.logo-image {
	width: 36px;
	height: 36px;
	object-fit: contain;
	flex: 0 0 auto;
}

.logo-image.logo-image-large {
	width: 55px;
	height: 55px;
}
